@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 30, 30);
}

.search-wrapper {
    padding-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

#search-form {
    margin-top: 30px;
}

#query {
    height: 30px;
    width: 300px;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    border: none;

}

#query:focus {
    outline: none !important;
    border: #1DB954 solid 2px;
}

#search-button {
    height: 30px;
    width: 90px;
    border: none;
    background-color: #1DB954;
    border-radius: 0 5px 5px 0;
    font-weight: 500;
    margin-left: -5px;
}

#search-button:hover {
    background-color: #2ed86a;
}