@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

body {
    background-color: rgb(15, 15, 15);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-wrapper {
    position: absolute;
    z-index: 99;
    width: 510px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: rgb(25, 25, 25);
    transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.container.slide-left .search-wrapper {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}


h1 {
    color: white;
    margin-bottom: 40px;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-left: 0;
    margin-right: auto;
    color: rgb(237, 237, 237);
    padding-bottom: 5px;
    font-size: 14px;
}

.query {
    height: 30px;
    width: 300px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
}

.query:focus {
    outline: none !important;
    border: #1DB954 solid 2px;
}

.search-button {
    height: 40px;
    width: 110px;
    border: none;
    background-color: #1DB954;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
}

.search-button:hover {
    background-color: #2ed86a;
}

.container.slide-left #generated-art {
    margin-left: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #generated-art.show {

} */

/* #generated-art img {
    width: 75%;
    height: auto;
} */

